@import "./partials/setup";

@font-face {
  font-family: "Funny and Cute";
  src: url('../assets/darrell-flood_funny-and-cute/Funny\ &\ Cute.otf');
}

body {
    background-image: url(../assets/carrots-food-fresh-616404.jpg);
    // Photo by Lukas from Pexels: https://www.pexels.com/photo/carrots-food-fresh-freshness-616404/
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    .title, .quiz__header {
        font-family: 'Funny and Cute', cursive;
    }
   .title {
        word-spacing: 5px;
        font-size: 10rem;
        text-align: center;
        color: #0fa3b1;
        text-shadow: 2px 2px 4px black;
        margin: 40px 0;
   } 
}

.quiz {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom right, #eddea4, #f7a072 );
    box-shadow: 3px 3px 4px black;
    &__header {
        font-size: 5rem;
    }
    &__content {
        font-size: 3rem;
        font-family: 'Cabin', sans-serif;
        margin-bottom: 50px;
    }
    &__disclaimer {
        font-size: 1.6rem;
        display: block;
        margin-top: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__choices {
        display: none;
        padding-bottom: 5px;
        border: none;
    }
// Toggle display for radio buttons
    &__label {
        position: relative;
        cursor: pointer;
        &:first-of-type {
            margin-right: 35px;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #0fa3b1;
            box-shadow: 2px 2px 4px black;
            position: absolute;
            top: -35px;
            left: -5px;
        }
    }
    &__input {
        opacity: 0;
        position: absolute;
        &:checked + .quiz__label::before {
            background: #15cedf;
            box-shadow: inset 2px 3px 4px black;
        }
    }

    &__reset {
        display:none;
    }
    &__asterisk {
        font-size: 2rem;
        line-height: 2px;
    }
}

.button {
    padding: 10px 30px;
    background: #f9f7f3;
    border: none;
    box-shadow: 1px 1px 2px black;
    &:active {
        box-shadow: inset 1px 1px 2px black;
    }
}

.footer {
    width: 100%;
    text-align: center;
    &__link {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 940px) {
    .wrapper {
        width: 95%;
        .title {
            font-size: 9rem;
        }
    }
    .quiz {
        &__header {
            font-size: 4.6rem;
        }
        &__content {
            font-size: 2.8rem;
        }
    }
}