article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

@font-face {
  font-family: "Funny and Cute";
  src: url("../assets/darrell-flood_funny-and-cute/Funny & Cute.otf"); }

body {
  background-image: url(../assets/carrots-food-fresh-616404.jpg);
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }
  .wrapper .title, .wrapper .quiz__header {
    font-family: 'Funny and Cute', cursive; }
  .wrapper .title {
    word-spacing: 5px;
    font-size: 10rem;
    text-align: center;
    color: #0fa3b1;
    text-shadow: 2px 2px 4px black;
    margin: 40px 0; }

.quiz {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#eddea4), to(#f7a072));
  background: -webkit-linear-gradient(top left, #eddea4, #f7a072);
  background: -o-linear-gradient(top left, #eddea4, #f7a072);
  background: linear-gradient(to bottom right, #eddea4, #f7a072);
  -webkit-box-shadow: 3px 3px 4px black;
  box-shadow: 3px 3px 4px black; }
  .quiz__header {
    font-size: 5rem; }
  .quiz__content {
    font-size: 3rem;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 50px; }
  .quiz__disclaimer {
    font-size: 1.6rem;
    display: block;
    margin-top: 10px; }
  .quiz__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .quiz__choices {
    display: none;
    padding-bottom: 5px;
    border: none; }
  .quiz__label {
    position: relative;
    cursor: pointer; }
    .quiz__label:first-of-type {
      margin-right: 35px; }
    .quiz__label::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #0fa3b1;
      -webkit-box-shadow: 2px 2px 4px black;
      box-shadow: 2px 2px 4px black;
      position: absolute;
      top: -35px;
      left: -5px; }
  .quiz__input {
    opacity: 0;
    position: absolute; }
    .quiz__input:checked + .quiz__label::before {
      background: #15cedf;
      -webkit-box-shadow: inset 2px 3px 4px black;
      box-shadow: inset 2px 3px 4px black; }
  .quiz__reset {
    display: none; }
  .quiz__asterisk {
    font-size: 2rem;
    line-height: 2px; }

.button {
  padding: 10px 30px;
  background: #f9f7f3;
  border: none;
  -webkit-box-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 2px black; }
  .button:active {
    -webkit-box-shadow: inset 1px 1px 2px black;
    box-shadow: inset 1px 1px 2px black; }

.footer {
  width: 100%;
  text-align: center; }
  .footer__link {
    text-decoration: none;
    color: black; }

@media (max-width: 940px) {
  .wrapper {
    width: 95%; }
    .wrapper .title {
      font-size: 9rem; }
  .quiz__header {
    font-size: 4.6rem; }
  .quiz__content {
    font-size: 2.8rem; } }
